node_modules
**/build
dist
out
.env
.next
.DS_Store
**/.DS_Store
**/*.log

Fellowship Baptist Church
fellowship.org.au

Testing: [http://fellowship.org.au.s3-website-ap-southeast-2.amazonaws.com/]

Built with react.

Many thanks to Matthew Wilson for his original source code:

[https://github.com/matthewwilson/SaintfieldBaptistChurch]
[http://www.saintfieldbaptist.org.uk/]
Installation
Run the following for local installation

npm install
npm run start